In [1]:
import mysql.connector as connection
import pandas as pd
from kafka import KafkaProducer
from datetime import datetime
import time
import random
import numpy as np

In [2]:
conn = connection.connect(
    host="Bisheshs-MacBook-Pro.local", 
    database = 'client_rw',
    user='root', 
    password='12345678')
query = "Select * from fc_transaction_base"
df = pd.read_sql(query,conn)
df

/var/folders/nk/tzs157bs2zl7cfxbfgzc6n_h0000gn/T/ipykernel_6302/3372947981.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

,tran_date,account_number,branch,product,lcy_amount,transaction_code,description1,dc_indicator,is_salary
0,2020-06-09,02XYZXYZ10017529992,15,SBA,14500,CI,ATM WDL /00463701/NABILNABIL,withdraw,0\r
1,2020-06-14,02XYZXYZ10017529992,15,SBA,20000,CI,ATM WDL /00463701/NABILNABIL,withdraw,0\r
2,2020-06-01,02XYZXYZ10017517823,15,SBA,4000,CI,ATM WDL /NICAV701/PharpingKT,withdraw,0\r
3,2020-06-05,02XYZXYZ10017517823,15,SBA,500,CI,ATM WDL /NICAV701/PharpingKT,withdraw,0\r
4,2020-06-12,02XYZXYZ10017517823,15,SBA,5000,CI,ATM WDL /NICAV701/PharpingKT,withdraw,0\r
...,...,...,...,...,...,...,...,...,...
45026,2020-08-16,02XYZXYZ10017509810,17,SBA,1000,BI,CASBA allot of LAXMI UNNATI KOSH,withdraw,0\r
45027,2020-08-16,02XYZXYZ100172122201,17,SBA,1000,BI,CASBA allot of LAXMI UNNATI KOSH,withdraw,0\r
45028,2020-08-16,02XYZXYZ10017520310,17,SBA,5000,BI,CASBA allot of LAXMI UNNATI KOSH,withdraw,0\r
45029,2020-08-16,02XYZXYZ10017559076,17,SBA,0.38,IP,^0210017559076^:Int.Pd:^16-07-2020^ to ^16-08-202,deposit,0\r
45030,2020-08-16,02XYZXYZ10017559076,17,SBA,0.02,IP,^0210017559076^:WTax.Pd:^16-07-2020^to ^16-08-202,withdraw,0

In [3]:
KAFKA_TOPIC_NAME_CONS = "1234"
KAFKA_BOOTSTRAP_SERVERS_CONS = 'localhost:9092'

if __name__ == "__main__":
    print("Kafka Producer Application Started ... ")

    kafka_producer_obj = KafkaProducer(bootstrap_servers=KAFKA_BOOTSTRAP_SERVERS_CONS,
                                       value_serializer=lambda x: x.encode('utf-8'))
    
  
    df['order_id'] = np.arange(len(df))

    
    data = df.to_dict(orient="records")
       

    message_list = []
    message = None
    for message in data:
        
        message_fields_value_list = []
               
        message_fields_value_list.append(message["order_id"])
        message_fields_value_list.append(message["account_number"])
        message_fields_value_list.append(message["branch"])
        message_fields_value_list.append(message["transaction_code"])

        message = ','.join(str(v) for v in message_fields_value_list)
        print("Message Type: ", type(message))
        print("Message: ", message)
        kafka_producer_obj.send(KAFKA_TOPIC_NAME_CONS, message)
        time.sleep(1)


    print("Kafka Producer Application Completed. ")

Kafka Producer Application Started ...
Message Type:  <class 'str'>
Message:  0,02XYZXYZ10017529992,15,CI
Message Type:  <class 'str'>
Message:  1,02XYZXYZ10017529992,15,CI
Message Type:  <class 'str'>
Message:  2,02XYZXYZ10017517823,15,CI
Message Type:  <class 'str'>
Message:  3,02XYZXYZ10017517823,15,CI
Message Type:  <class 'str'>
Message:  4,02XYZXYZ10017517823,15,CI
Message Type:  <class 'str'>
Message:  5,02XYZXYZ10017519116,15,CI
Message Type:  <class 'str'>
Message:  6,02XYZXYZ10017519121,15,CI
Message Type:  <class 'str'>
Message:  7,02XYZXYZ10017520752,15,CI
Message Type:  <class 'str'>
Message:  8,02XYZXYZ10017520752,15,CI
Message Type:  <class 'str'>
Message:  9,02XYZXYZ10017520752,15,CI
Message Type:  <class 'str'>
Message:  10,02XYZXYZ10017555515,15,CI
Message Type:  <class 'str'>
Message:  11,02XYZXYZ10017555612,15,CI
Message Type:  <class 'str'>
Message:  12,02XYZXYZ10017557070,15,O
Message Type:  <class 'str'>
Message:  13,02XYZXYZ10017557090,15,CI
Message Type:  <class 'str'>
Message:  14,02XYZXYZ10017557096,15,CI
Message Type:  <class 'str'>
Message:  15,02XYZXYZ10017503121,15,CI
Message Type:  <class 'str'>
Message:  16,02XYZXYZ10017557935,15,CI
Message Type:  <class 'str'>
Message:  17,02XYZXYZ10017557935,15,CI
Message Type:  <class 'str'>
Message:  18,02XYZXYZ10017557936,15,CI
Message Type:  <class 'str'>
Message:  19,02XYZXYZ10017557936,15,CI
Message Type:  <class 'str'>
Message:  20,02XYZXYZ10017557936,15,CI
Message Type:  <class 'str'>
Message:  21,02XYZXYZ10017557936,15,CI
Message Type:  <class 'str'>
Message:  22,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  23,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  24,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  25,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  26,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  27,02XYZXYZ10017557937,15,CI
Message Type:  <class 'str'>
Message:  28,02XYZXYZ10017558474,15,BI
Message Type:  <class 'str'>
Message:  29,02XYZXYZ10017558474,15,IP
Message Type:  <class 'str'>
Message:  30,02XYZXYZ10017554994,15,CI
Message Type:  <class 'str'>
Message:  31,02XYZXYZ10017554994,15,CI
Message Type:  <class 'str'>
Message:  32,02XYZXYZ10017554994,15,CI
Message Type:  <class 'str'>
Message:  33,02XYZXYZ10017555475,15,CI
Message Type:  <class 'str'>
Message:  34,02XYZXYZ10017555481,15,CI
Message Type:  <class 'str'>
Message:  35,02XYZXYZ10017556578,15,CI
Message Type:  <class 'str'>
Message:  36,02XYZXYZ10017556578,15,CI
Message Type:  <class 'str'>
Message:  37,02XYZXYZ10017556578,15,CI
Message Type:  <class 'str'>
Message:  38,02XYZXYZ10017556578,15,CI
Message Type:  <class 'str'>
Message:  39,02XYZXYZ10017242301,17,CI
Message Type:  <class 'str'>
Message:  40,02XYZXYZ10017242301,17,CI
Message Type:  <class 'str'>
Message:  41,02XYZXYZ10017247201,17,CI
Message Type:  <class 'str'>
Message:  42,02XYZXYZ10017247201,17,CI
Message Type:  <class 'str'>
Message:  43,02XYZXYZ10017247201,17,CI
Message Type:  <class 'str'>
Message:  44,02XYZXYZ10017247201,17,CI
Message Type:  <class 'str'>
Message:  45,02XYZXYZ10017248201,17,NR
Message Type:  <class 'str'>
Message:  46,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  47,02XYZXYZ10017248201,17,BI
Message Type:  <class 'str'>
Message:  48,02XYZXYZ10017248201,17,BI
Message Type:  <class 'str'>
Message:  49,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  50,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  51,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  52,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  53,02XYZXYZ10017248201,17,CI
Message Type:  <class 'str'>
Message:  54,02XYZXYZ10017240701,17,CI
Message Type:  <class 'str'>
Message:  55,02XYZXYZ10017277001,17,BI
Message Type:  <class 'str'>
Message:  56,02XYZXYZ10017500488,17,CI
Message Type:  <class 'str'>
Message:  57,02XYZXYZ10017502615,17,CI
Message Type:  <class 'str'>
Message:  58,02XYZXYZ10017500499,17,CI
Message Type:  <class 'str'>
Message:  59,02XYZXYZ10017500478,17,CI
Message Type:  <class 'str'>
Message:  60,02XYZXYZ10017500478,17,CI
Message Type:  <class 'str'>
Message:  61,02XYZXYZ10017500478,17,CI
Message Type:  <class 'str'>
Message:  62,02XYZXYZ10017500478,17,CI
Message Type:  <class 'str'>
Message:  63,02XYZXYZ10017500478,17,CI
Message Type:  <class 'str'>
Message:  64,02XYZXYZ10017500639,17,CI

KeyboardInterrupt:

In [1]:
import pandas as pd
df3 = pd.read_csv('IRIS.csv')
df3.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa